mixin sContact(l, t)
	// start sContact
	+b.SECTION.sContact#sContact&attributes(attributes)
		.container  
			+e.row.row
				+e.col.col.order-last(class="wow fadeIn" data-wow-duration=`${dur }s`)
					.strong.pt-5.pb-2 По вопросам сотрудничества:
					h2 
						a(href!= l)!= t
					+e.item(href="mailto:events@ruvents.com")
						+icon("mail")
						span  events@ruvents.com
					+e.item
						+icon("web")
						span 123557, Москва, Пресненский вал, д.&nbsp;27, стр.&nbsp;2, корпус &laquo;iЮНЬ&raquo;, 2&nbsp;этаж
					.row
						//- .col-lg.col-auto
						//- 	+e.item 
						//- 		div
						//- 			.strong.mb-2 Секретариат:
									
						//- 			a.body-color(href="tel:+7(495)950-56-51") +7 (495) 950-56-51
						.col-auto
							+e.item 
								div
									.strong.mb-2  По вопросам закрывающих документов:
									
									| #[a.body-color.mb-2(href="tel:+7(495)109-02-00p3") +7 (495) 109-02-00, доб. 3] 
									br
									| #[a(href="mailto:fin@ruvents.com") fin@ruvents.com ] 

				.col-xxl-auto.col-xl-6( class="wow fadeInUp"  data-wow-delay=`${delay + .2}s` data-wow-duration=`${dur }s`)
					+e.logo
						img(loading="lazy" src="img/svg/logo.svg", alt="")
					+e.map-wrap( class="wow fadeIn "  data-wow-delay=`${delay/2 }s` data-wow-duration=`${dur }s`  data-map='<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Abd9ca0bd12f5ebfb5e51e12999f94ed14a669b89cb3ca043b66bdd23299ef522&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>' )
			+e.footer( class="wow  fadeInUp" data-wow-delay=`${delay + .2}s` data-wow-duration=`${dur }s`)
				.row
					.col( style="opacity: 0.2;") © #[strong ООО «РУВЕНТС» #[span.current-year 2021]]
					.col-sm-auto.h5.strong 
						a(href="https://ruvents.com/policy.pdf" target="blank") Политика конфиденциальности

	// end sContact

	+b.cookie-block.d-none
		p.small Пользуясь нашим веб-сайтом, вы даете свое согласие на использование файлов cookies. 
			br
			| #[a(href="https://ruvents.com/policy.pdf" target="_blank") Узнать подробнее]
		button.btn.btn-primary.btn-cookie Cогласен 