mixin sWays()
	// start sWays
	+b.SECTION.sWays.section.bg-light#sWays&attributes(attributes)
		.container
			mixin direction(c, i, t1, t2, tel1, tel2, l, ...items)
				+b.direction.wow(class=`${c}`)
					+e.IMG.image-bg(src=`img/@2x/ways-${i}.jpg`)
					.row.row-0
						.col-lg-6
							+e.heading
								h2!= t1 
								+e.UL.activities
									each item in items
										LI!= item
						.col-lg-6
							+e.content
								if t2
									H6!= t2
								block
								.row
									.col-sm-5.col-xl
										+b.A.main-btn(href=`${l}`) Подробнее
									.col-auto
										+e.contacts
											+e.A.link(href=`tel:${tel1}`)
												+icon("phone")
												span!= tel2
											+e.A.link(href="mailto:event@ruvents.com") 
												+icon("email")
												span event@ruvents.com


			+direction(`fadeInUp`, 1, `Онлайн сервисы`, `Комплексный набор настраиваемых решений для проведения мероприятия в&nbsp;онлайн-формате`, `8(495)1090200p1`, `+7&nbsp;495 109-02-00&nbsp;доб.&nbsp;1`, `http://ruvents.com/online`, `Сайты`, `Онлайн платформа для мероприятий`, `Информационные системы`)
				+e.UL.services
					LI &minus;&nbsp;Информационные системы
					LI &minus;&nbsp;Разработка сайтов
					LI &minus;&nbsp;Личный кабинет и&nbsp;live-сервисы
					LI &minus;&nbsp;Интерактивные 3D-модели мероприятия
					LI &minus;&nbsp;Онлайн-трансляция и&nbsp;перевод
					LI &minus;&nbsp;Мобильные приложения
					LI &minus;&nbsp;Регистрация участников
					LI &minus;&nbsp;Цифровые сертификаты и&nbsp;дипломы
					LI &minus;&nbsp;Дизайн
				
			+direction(`fadeInRight`, 2, `Офлайн сервисы`, `Организация комплекса услуг быстрой и&nbsp;профессиональной регистрации/аккредитации участников и&nbsp;посетителей в&nbsp;месте проведения вашего мероприятия.`, `8(495)1090200p2`, `+7&nbsp;495 109-02-00&nbsp;доб.&nbsp;2`, `https://ruvents.com/accred`, `Регистрация`, `Контроль доступа`, `Интерактивные сервисы`)
				+e.subtitle Основные услуги:
				+e.UL.services
					LI &minus;&nbsp;Аренда оборудования с&nbsp;программным обеспечением
					LI &minus;&nbsp;Организация работы персонала
					LI &minus;&nbsp;Производство расходных материалов
				+e.subtitle Дополнительные услуги:
				+e.UL.services
					LI &minus;&nbsp;Контроль доступа
					LI &minus;&nbsp;Интерактивные стенды
					LI &minus;&nbsp;Онлайн система сбора персональных данных
					LI &minus;&nbsp;Электронные визитницы
					LI &minus;&nbsp;Дизайн

			+direction(`fadeInLeft`, 3, `EVENT Сервисы`, ``, `8(495)1090200p4`, `+7&nbsp;495 109-02-00&nbsp;доб.&nbsp;4`, `https://ruvents.com/events`, `Онлайн-мероприятие`, `Live-формат`, `Офлайн-событие`)
				+e.subtitle Основные услуги:
				+e.UL.services
					LI &minus;&nbsp;Организация и&nbsp;проведение мероприятий любой степени сложности в&nbsp;онлайн и&nbsp;офлайн
				+e.subtitle Дополнительные услуги:
				+e.UL.services
					LI &minus;&nbsp;Разработка креативной концепции мероприятия
					LI &minus;&nbsp;Подбор и&nbsp;бронирование площадки
					LI &minus;&nbsp;Приглашение гостей на&nbsp;мероприятие
					LI &minus;&nbsp;Организационная логистики и&nbsp;питания (кейтеринг)
					LI &minus;&nbsp;Подбор артистов и&nbsp;развлекательных номеров
					LI &minus;&nbsp;Декорирование помещений и&nbsp;техническое обеспечение мероприятия
					LI &minus;&nbsp;Производство брендированной продукции
					LI &minus;&nbsp;Подбор и&nbsp;тренинг промо-персонала для мероприятия
					LI Подготовка фото и&nbsp;видео-отчетов
	// end sWays

mixin sWaysEvents()
	// start sWasWaysEventsys
	+b.SECTION.sWaysEvents.section.bg-light#sWaysEvents&attributes(attributes)
		.container
			.row
				mixin eventService(i, t, c, l)
					.col-lg-6
						+b.event-service.wow(href=`${l}` class=`${c}`)
							h2!=t
							+e.IMG.image-bg(src=`img/@2x/ways-events-${i}.jpg`)
							+e.link
								span Узнать больше
								+icon('arrow-right')
				+eventService(1, `Офлайн`, `zoomIn`, `https://ruvents.com/offline`)
				+eventService(2, `Онлайн`, `zoomIn`, `https://ruvents.com/onair `)
	// end sWaysEvents