mixin sServises()
	// start sServises
	+b.SECTION.sServises.section#sServises&attributes(attributes)
		.container
			+b.section-title--lg
				h2 Услуги
				
			mixin cont(i, t, p, p2=p)
				+e.item( class="wow fadeInUp "  data-wow-delay=`${delay / 2}s` data-wow-duration=`${dur }s`   )
					+e.row.row
						+e.col.col-lg-auto
							+e.img-wrap
								+pic(`servises-${i}.jpg`,'',0) 
						+e.col.col 
							+e.wrap
								+e.title--js
									+icon(`servise-${i}`)
									= t
								p= p
								+e.btn.link-modal(href="#modal-servise") Узнать больше
								.d-none.for-mobile
									+e.col.col-lg-auto.d-none.d-lg-block
										+e.img-wrap
											+pic(`servises-${i}.jpg`,'','')
									+e.col.col 
										+e.wrap
											+e.title
												+icon(`servise-${i}`)
												= t
											if p2
												.h6= p
											block
											
			+cont("1",'Дизайн','Визуальная коммуникация в онлайн-формате требует новых подходов и решений. У нас многолетний опыт разработки сайтов мероприятий разного масштаба и функционала. Мы поможем сделать визуальное представление мероприятия не только красивым, но и функциональным.')
				p: strong Оперативно поможем в разработке:

				ul
					li Фирменного стиля
					li Брендбука
					li Логотипа и концепции его внедрения
					li Лендинга или полноценного сайта
					li Рекламных материалов и макетов рассылок
					li Полиграфии
					li Иллюстраций

			+cont("2",'Разработка сайтов','Разработка сайтов любого уровня сложности. От простых и современных лендингов до сайтов со сложным функционалом (настраиваемые формы регистрации, личные кабинеты, сервисы деловых встреч и т.п.).')
				p Простой одностраничный сайт (лендинг) может быть запущен уже через неделю с&nbsp;момента согласования структуры и&nbsp;получения контента. Сложный сайт с&nbsp;встроенной регистрацией и&nbsp;сервисами разрабатывается 2-3&nbsp;месяца.

				p На&nbsp;простые сайты может быть встроена форма регистрации участников и&nbsp;оплаты услуг (для платных мероприятий), под проекты среднего и&nbsp;крупного масштаба могут быть разработаны сайты с&nbsp;индивидуальным функционалом, таким как настраиваемые личные кабинеты, формирование коллективных корзин, интеграция с&nbsp;системами заказчика, модули нетворкинга и&nbsp;деловых встреч, модули формирования индивидуального расписания, API и&nbsp;множество других уникальных передовых решений

			+cont("3",'Регистрация участников','Разработка системы онлайн-регистрации участников, возможность интеграции с сайтами мероприятий. Электронные билеты с уведомлениями  и напоминаниями. Удобные и технологичные кабинеты администраторов. Также мы надежно храним персональные данные участников в соответствии с ФЗ-152.','')
				ul.text-primary
					li #[strong Функциональная система онлайн-регистрации] участников с&nbsp;возможностью гибкой настройки регистрационных форм различного уровня сложности, с&nbsp;приемом платежей от&nbsp;физических и&nbsp;юридических лиц.
					li #[strong Различные способы интеграции системы] регистрации участников с&nbsp;сайтами мероприятий&nbsp;&mdash; виджеты, интеграция по&nbsp;API, отдельные кастомизированные страницы для аккредитации. 
					li #[strong Электронные билеты], уведомления, напоминания для участников.
					li #[strong Удобный и&nbsp;технологичный кабинет] администратора для управления списком участников и&nbsp;отслеживания статистики в&nbsp;том числе и&nbsp;финансовой. 
					li #[strong Системы аккредитации персонала и&nbsp;подрядчиков] с&nbsp;моментальным подтверждением статуса заявки. 
					li #[strong Надежное хранение персональных данных участников] соответствии с&nbsp;Федеральным законом &laquo;О&nbsp;персональных данных&raquo; ( 152-ФЗ)
				p
					small.text-primary Компания ООО &laquo;Рувентс&raquo; является оператором, осуществляющим обработку персональных данных, и&nbsp;внесена в&nbsp;реестр Федеральной службы по&nbsp;надзору в&nbsp;сфере связи, информационных технологий и&nbsp;массовых коммуникаций на&nbsp;основании Приказа No7 от&nbsp;04.07.2014 года с&nbsp;присвоением регистрационного номера 14-0251250
			
			+cont("4",'Личный кабинет и live-сервисы','Разработка сайтов с личными кабинетами для участников, которые в зависимости от статуса могут определять уровень доступа к различным возможностям онлайн-участия в мероприятии.')
				ul
					li #[strong Мгновенный доступ к&nbsp;трансляциям выступлений] с&nbsp;возможностью оценки сессий и&nbsp;функцией коллективного обсуждения. 
					li #[strong Постоянный доступ к&nbsp;материалам выступлений]  (презентациям, сопроводительным файлам) и&nbsp;видеоархивам.
					li #[strong Общение между участниками мероприятия]  в&nbsp;общих группах и&nbsp;индивидуальных чатах. 
					li #[strong Посещение виртуальных выставок]  с&nbsp;возможностью скачивания материалов от&nbsp;экспонентов.
					li #[strong Проведение онлайн тестов и&nbsp;опросов]  среди участников с&nbsp;выводом статистики в&nbsp;прямом эфире.
					li #[strong Живое общение со&nbsp;спикерами]  через форму отправки вопросов.
					li #[strong Проведение онлайн-конкурсов]  с&nbsp;подачей заявок и&nbsp;экспертной оценкой.
					li #[strong Отработка партнерских пакетов]  (реклама в&nbsp;чатах, персональные уведомления, всплывающие баннеры).
					li #[strong Интеграции с&nbsp;системами заказчика]  для двустороннего обмена информацией.

			+cont("5",'Интерактивные 3D-модели мероприятия','Уникальная онлайн-платформа для проведения мероприятий с визуализацией выставочной площадки и интерактивным взаимодействием с экспонентами.')
				.h6 Позволяет создать полную или доработанную цифровую копию площадки проведения мероприятия, обеспечить возможность интерактивного путешествия по&nbsp;мероприятию через браузер. Используя платформу моделирования виртуального мероприятия можно получить:
				ul
					li #[strong Полностью управляемый виртуальный мир] мероприятия, по&nbsp;которому можно перемещаться используя браузер без каких-либо специальных плагинов
					li #[strong Генерировать качественные 3D-рендеры] под любым углом и&nbsp;в&nbsp;любом количестве
					li #[strong Создавать видеоролики с&nbsp;пролетами] по&nbsp;виртуальной выставке
			+cont('6','Онлайн-трансляция и перевод','Организация и проведение онлайн-трансляций любой сложности для вашей конференции, форума или развлекательного мероприятия. ')
				.h6 Мы обеспечим вас всем необходимым:
				ul
					li Техническим персоналом (техники, инженеры, осветители)
					li Предоставим звуковое оборудование для качественной записи и&nbsp;передачи звука
					li Организуемподключение соц. сетей и&nbsp;популярных платформ (таких как YouTube, ВКонтакте, Facebook и&nbsp;др.)
					li Создадим графическое оформление эфира (титры, визитные карточки участников, перевод эфира)
					li Организуем трансляцию экрана компьютера спикера для демонстрации зрителям трансляции презентаций, рабочего стола и&nbsp;прочего контента
				p
					small  По&nbsp;вашему желанию доступ к&nbsp;трансляции и&nbsp;доступ к&nbsp;записям трансляции может быть платным.
			+cont('7','Мобильные приложения','Разработка приложений для форумов, конференций и фестивалей.')
				.h6 Функции мобильного приложения для вашего мероприятия:
				ul
					li Интеграция и&nbsp;синхронизация с&nbsp;сайтом или системой заказчика
					li Электронные билеты, бронирование мест
					li Мгновенная процедура регистрации
					li Мгновенные push-уведомления
					li Сервис деловых встреч
					li Актуальная программа мероприятия, оценка сессий
					li Персональное расписание на&nbsp;мероприятии
					li Использование qr-кодов для социальной активности
					li Новости мероприятия, ответы на&nbsp;частозадаваемые вопросы
					li Карта площадки, схемы проезда и&nbsp;прочая тех. информация
					li Другие возможности

			+cont('8','Информационные и рекламные кампании','Поможем в реализации коммуникации с аудиторией через электронные рассылки и sms- сообщения. Оказываем комплексные услуги по продвижению в социальных сетях (SMM), главной задачей которого является популяризация бренда и привлечение внимания к сервису/организации.')
				ul
					li.strong Создание сообщества 
					li.strong Создание дизайна групп и&nbsp;страниц
					li.strong Создание контента
					li.strong Администрирование сообществ
					li.strong Привлечение целевой аудитории
					li.strong Таргетированная реклама
					li.strong Реклама в&nbsp;сообществах
					li.strong Работа с&nbsp;инфлюенсерами
				h6 Не являясь классическим рекламным агентством, мы всегда исходим из задачи. Мы не предлагаем инструменты продвижения, если не видим в них реальной необходимости, наша задача - изучить объект продвижения и предложить максимально эффективную стратегию достижения поставленной цели.

			+cont('9','Цифровые сертификаты и дипломы','Рассылка именных сертификатов и дипломов - это уникальная возможность мотивировать и отблагодарить участников вашего мероприятия. ')
				p От&nbsp;вас необходим только макет документа, а&nbsp;все остальное мы&nbsp;сделаем автоматически: подготовим красивое именное письмо в&nbsp;стиле мероприятия с&nbsp;сопроводительным текстом, сделаем рассылку с&nbsp;уникальной ссылкой на&nbsp;именной сертификат (диплом, грамота, благодарность) об&nbsp;участии.
		 
	// end sServises