mixin sServises()
	// start sServises
	+b.SECTION.sServises.section#sServises&attributes(attributes)
		.container
			+b.section-title
				h2 Услуги
				
			mixin cont(i, t, p)
				+e.item( class="wow fadeInUp "  data-wow-delay=`${delay / 2}s` data-wow-duration=`${dur }s`   )
					+e.row.row
						+e.col.col-lg-auto
							+e.img-wrap
								+pic(`servises-${i}.jpg`,'','lazy','') 
						+e.col.col 
							+e.wrap
								+e.title
									+icon(`servise-${i}`)
									= t
								p= p
								+e.btn.modal-link(href="#modal-servise") Узнать больше
								block
			+cont("1",'Дизайн','Визуальная коммуникация в онлайн-формате требует новых подходов и решений. У нас многолетний опыт разработки сайтов мероприятий разного масштаба и функционала. Мы поможем сделать визуальное представление мероприятия не только красивым, но и функциональным.')

			+cont("2",'Разработка сайтов','Разработка сайтов любого уровня сложности. От простых и современных лендингов до сайтов со сложным функционалом (настраиваемые формы регистрации, личные кабинеты, сервисы деловых встреч и т.п.).')

			+cont("3",'Регистрация участников','Разработка системы онлайн-регистрации участников, возможность интеграции с сайтами мероприятий. Электронные билеты с уведомлениями  и напоминаниями. Удобные и технологичные кабинеты администраторов. Также мы надежно храним персональные данные участников в соответствии с ФЗ-152')
			
			+cont("4",'Личный кабинет и live-сервисы','Разработка сайтов с личными кабинетами для участников, которые в зависимости от статуса могут определять уровень доступа к различным возможностям онлайн-участия в мероприятии.')

			+cont("5",'Интерактивные 3D-модели мероприятия','Разработка сайтов с личными кабинетами для участников, которые в зависимости от статуса могут определять уровень доступа к различным возможностям онлайн-участия в мероприятии.')
			+cont('6','Онлайн-трансляция и перевод','Уникальная онлайн-платформа для проведения мероприятий с визуализацией выставочной площадки и интерактивным взаимодействием с экспонентами.')
			+cont('7','Мобильные приложения','Уникальная онлайн-платформа для проведения мероприятий с визуализацией выставочной площадки и интерактивным взаимодействием с экспонентами.')
			+cont('8','Информационные и рекламные кампании','Поможем в реализации коммуникации с аудиторией через электронные рассылки и sms- сообщения. Оказываем комплексные услуги по продвижению в социальных сетях (SMM), главной задачей которого является популяризация бренда и привлечение внимания к сервису/организации.')
			+cont('9','Цифровые сертификаты и дипломы','Рассылка именных сертификатов и дипломов - это уникальная возможность мотивировать и отблагодарить участников вашего мероприятия. ')
		 
	// end sServises