mixin sOurExpertise()
	// start sOurExpertise
	section#sOurExpertise.sOurExpertise.section.bg-light
		.container
			.section-title.text-center
				h2.wow.fadeInUp Наш опыт и компетенции в ИТ
				p.lead.wow.fadeInUp(data-wow-delay="0.2s")
					| Многолетний опыт работы с разнообразными задачами и заказчиками позволяет нам предлагать эффективные и надежные ИТ-решения.
			.row.justify-content-center
				.col-lg-10
					h4.text-center.mb-4.wow.fadeInUp(
						style="color: #3d58b0;" 
						data-wow-delay="0.3s"
						) Типы реализуемых проектов:
			.row
				.col-md-6.col-lg-4.mb-4.wow.fadeInUp(data-wow-delay="0.4s")
					.expertise-card.p-3.border.rounded.h-100.text-center
						.expertise-icon.mb-3
							svg(
								xmlns="http://www.w3.org/2000/svg" 
								fill="currentColor" 
								viewBox="0 0 24 24" 
								height="48" 
								width="48"
								)
								path(
									d="M21 13.2V4H3v16h9.2c.2-1.3.7-2.5 1.5-3.6L12 15l-3.5-4.5-2.5 3L4 11V6h16v7.2c.9.3 1.8.8 2.5 1.5L21 13.2zM6.5 7.5c-.8 0-1.5.7-1.5 1.5s.7 1.5 1.5 1.5 1.5-.7 1.5-1.5-.7-1.5-1.5-1.5zm15.7 7.5c-2.3 0-4.2 1.9-4.2 4.2s1.9 4.2 4.2 4.2 4.2-1.9 4.2-4.2-1.9-4.2-4.2-4.2zm-1.2 5.4l-1.9-1.9.8-.8 1.1 1.1 2.5-2.5.8.8-3.3 3.3z"
									)
						h5 Разработка информационных систем
						p.small
							| Создание и поддержка сложных государственных (ГИС, ФГАИС) и корпоративных информационных систем, включая системы управления мероприятиями, образованием, CRM и BI-системы.
				.col-md-6.col-lg-4.mb-4.wow.fadeInUp(data-wow-delay="0.5s")
					.expertise-card.p-3.border.rounded.h-100.text-center
						.expertise-icon.mb-3
							svg(
								xmlns="http://www.w3.org/2000/svg" 
								fill="currentColor" 
								viewBox="0 0 24 24" 
								height="48" 
								width="48"
								)
								path(
									d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zM4 18V6h4v12H4zm6 0V6h4v12h-4zm10 0h-4V6h4v12z"
									)
						h5 Веб-разработка и онлайн-платформы
						p.small
							| Проектирование и разработка официальных сайтов, порталов, онлайн-платформ для форумов, конференций, премий и голосований, а также лендингов и систем для информационных рассылок.
				.col-md-6.col-lg-4.mb-4.wow.fadeInUp(data-wow-delay="0.6s")
					.expertise-card.p-3.border.rounded.h-100.text-center
						.expertise-icon.mb-3
							svg(
								xmlns="http://www.w3.org/2000/svg" 
								fill="currentColor" 
								viewBox="0 0 24 24" 
								height="48" 
								width="48"
								)
								path(
									d="M17 1H7c-1.1 0-2 .9-2 2v18c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2V3c0-1.1-.9-2-2-2zm-5 20c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm3-4H9V5h6v12z"
									)
						h5 Цифровизация и автоматизация мероприятий
						p.small
							| Полный цикл ИТ-поддержки мероприятий: аккредитация участников, внедрение цифровых сервисов для оффлайн-активностей, контроль доступа, разработка мобильных приложений для мероприятий, интерактивные сервисы.
				.col-md-6.col-lg-4.mb-4.wow.fadeInUp(data-wow-delay="0.7s")
					.expertise-card.p-3.border.rounded.h-100.text-center
						.expertise-icon.mb-3
							svg(
								xmlns="http://www.w3.org/2000/svg" 
								fill="currentColor" 
								viewBox="0 0 24 24" 
								height="48" 
								width="48"
								)
								path(
									d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-2 12H6v-2h12v2zm0-3H6V9h12v2zm0-3H6V6h12v2z"
									)
						h5 Техническая поддержка
						p.small
							| Организация служб поддержки пользователей (включая расширенную первую линию), техническое сопровождение ИТ-сервисов и платформ, ИТ-консалтинг, помощь во внедрении корпоративных сервисов (например, VK Workspace).
				.col-md-6.col-lg-4.mb-4.wow.fadeInUp(data-wow-delay="0.8s")
					.expertise-card.p-3.border.rounded.h-100.text-center
						.expertise-icon.mb-3
							svg(
								xmlns="http://www.w3.org/2000/svg" 
								fill="currentColor" 
								viewBox="0 0 24 24" 
								height="48" 
								width="48"
								)
								path(
									d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm1-13h-2v2H9v2h2v2h2v-2h2V9h-2V7z"
									)
						h5 Системная интеграция и PIM
						p.small
							| Развитие и создание систем управления, интегрированных с другими платформами. Внедрение и сопровождение систем управления товарным каталогом (PIM), например, Akeneo.
				.col-md-6.col-lg-4.mb-4.wow.fadeInUp(data-wow-delay="0.9s")
					.expertise-card.p-3.border.rounded.h-100.text-center
						.expertise-icon.mb-3
							svg(
								xmlns="http://www.w3.org/2000/svg" 
								fill="currentColor" 
								viewBox="0 0 24 24" 
								height="48" 
								width="48"
								)
								path(
									d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14zM7 9h5V8H7v1z"
									)
						h5 Проекты в области Искусственного Интеллекта
						p.small
							| Разработка и техническая поддержка национальных порталов по ИИ, запуск новых информационно-технических сервисов в данной сфере, разработка контента для аналитических центров.
	// end sOurExpertise